/* FONTS ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* PLAYERS ONE information start================ */
body{
    font-family: 'Poppins', sans-serif;
width: 1410px;
background-color: rgb(240, 240, 240);

}
/* HEADER SECTION  START===================== */
.sec_header{
    width: 1410px;
    height: 677px;
    background-color: blue;
}
ul{
    display: flex;
    margin-left: 163px;
}
li{
    list-style: none;
    margin-top: 59px;
    
}
.a_menu{
    text-decoration: none;
    color: #FFFFFF;
    /* background-color: #fff; */
    margin-right: 20px;
    font-weight: 500px;
    font-size: 16px;
    padding: 3px;
}
ul li a:hover{
    background-color: rgb(156, 141, 241);
    border-radius: 5px;
}
.div_header{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
}
.info_header{
    width: 485px;
    height: 230px;
    margin: 207px 0 0 156px;
    /* background-color: rgb(191, 243, 191); */
}
.h1_header_text{
    color: #FFFFFF;
    font-weight: 700px; 
}
.a_button_header{
    width: 168px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E02C6D;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 25px;
    padding-left: 9px;
    color: #FFFFFF;
    font-weight: 500px;
}
.button_header_text .a_button_header:hover{
    background-color:#f5b4cc ;
    color: rgb(52, 151, 13);
    transition: 1s;
}
.fa-arrow-right{
    padding: 8px;
}
.p_header {
    margin-top: 15px;
    margin-left: -30px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500px;
}


/*  >>>>>>>  header image start */
.img_header_head{
    width: 556.01px;
    height: 438px;
    margin: 153px 0 0 30px;
    /* background-color: rgb(220, 240, 134); */
}
.img_header_image{
    width: 100%;
    margin-left: -60px;
    
}

/* HEADER SECTION END ========================== */
.sec_naymar{
    margin-top: 70px;
}
.players_one{
    width: 1050px;
    margin: 27px 180px 0 180px;
    /* width: 100%; */
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;

}

.img_player{
    width: 100%;
   
}
.plr{
    width: 100%;
    /* border: 2px solid red; */
    background-color: #FFFFFF;
    border: 1px solid #e0dede;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.div_img {
    margin: 15px;
}
.player_info{
    padding: 5px;
}
h2,p{
    margin-top: -5px;
}
/* PLAYERS ONE information end================ */
/* ALL HIGH LIGHT SECTION===================== */
.sec_highlight{
    width: 1050px;
    height: 474px;
    margin-left: 180px;
    margin-bottom: 158px;
    /* background-color: rgb(127, 138, 66); */
}
.div_highlight_sec{
    display: flex;
}
.div_text_and_botton_sec{
    margin-top: 224px;
}
.a_button_highlight{
    width: 168px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E02C6D;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    /* margin-left: 10px; */
    padding-left: 9px;
    color: #FFFFFF;
    font-weight: 500px;
}
.button_highlight_text .a_button_highlight:hover{
    background-color:#fa95ba ;
    color: rgb(130, 238, 88);
    transition: 1s;
}
.text_highlight_text_sec{
    width: 469px;
    height: 309px;
    /* background-color: rgb(209, 188, 188); */
    padding: 8px;
}
/* IMAGE SECTION HIGHLIGHT =============*/
.img_highlight_img{
    width: 567px;
    height: 427px;
    margin-top: 165px;
    border-radius: 5px;
    
}
.div_highlight_img{
    overflow: hidden;
}
.div_highlight_img:hover .img_highlight_img{
    transform: scale(1.5);
    transition: transform 2s;
} 


/* FOOTER SECTION ===========*/
.sec_footer{
    /* border: 2px solid red; */
    position: relative;
    /* display:inline-block */
}
    

.footer_main{
    width: 483.87px;
    height: 213px;
    margin-top: 158px 0 0 475px;
    /* background-color: chartreuse; */
    position: absolute;
    top: 158px;
    left: 475px;
    bottom: 63px;
}
.img_football_img{
    width: 483.87px;
    height: 110px;
}
.img_footer_img{
    width: 100%;
}
.ftr_icon{
    width: 32px;
    height: 32px;
    /* padding: 5px; */
    margin-top: 20px;
}
.footer_social_icon{
    display: flex;
  justify-content: center;
  align-items: center;
    /* background-color: rgb(167, 107, 107); */
}
.footer_copyright_sec{
    text-align: center;
}
